.card-body {
    border : 2px solid white;
    border-radius: 3px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    border: 1px solid grey !important;
}


@media screen and (max-width: 1500px) {
    .col {
        min-width: 200px !important;
    }

  }
